{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-md-6">
                    <div class="checkout-form-list">
                        <label>Old password<span class="required">*</span></label>
                        {{ form.old_password.errors }}
                        <input placeholder="" type="password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkout-form-list">
                        <label>New password <span class="required">*</span></label>
                        {{ form.new_password.errors }}
                        <input placeholder="" type="password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkout-form-list">
                        <label>Confirm new password <span class="required">*</span></label>
                        {{ form.new_password_confirm.errors }}
                        <input placeholder="" type="password">
                    </div>
                </div>
                {#            {{ form.as_p }}#}
                <button class="site-btn float-right" type="submit">{% trans 'Change password' %}</button>
            </form>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
