{% extends 'layouts/base.html' %}
{% load static %}


{% block extra_css %}
    <style>
        a:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Uren's Blog Left Sidebar Area -->
    <div class="uren-blog_area grid-view_area blog-with_sidebar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2">
                    <div class="uren-blog-sidebar-wrapper">
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Search</h4>
                            <div class="search-form_area">
                                <form action="{% url 'posts:list' %}" class="search-form">
                                    <input name="q" type="text" class="search-field" placeholder="search here">
                                    <button type="submit" class="search-btn"><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Archives</h4>
                            <ul class="uren-blog-archive">
                                <li><a href="javascript:void(0)">September 2019</a></li>
                            </ul>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Recent Posts</h4>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/1.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Ut eum laborum</a></span>
                                    <span class="post-date">September 25,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/2.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-gallery-format.html">Soluta ad tempore</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/3.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Possimus reiciendis</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/4.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Tortor Posuere</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/5.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Hello World!</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Comments</h4>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/admin.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>HasTech say:</span>
                                    <a href="javascipt:void(0)">Nulla auctor mi vel nisl...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/user.jpg"' %} alt=" Uren's Blog
                                    Image">
                                </div>
                                <div class="user-info">
                                    <span>Kathy Young say:</span>
                                    <a href="javascipt:void(0)">Mauris Venenatis Orci Quis...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/admin.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>HasTech say:</span>
                                    <a href="javascipt:void(0)">Quisque Semper Nunc Vitae...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/user.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>Kathy Young say:</span>
                                    <a href="javascipt:void(0)">Thanks for the information, anyway :)</a>
                                </div>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Tags</h4>
                            <ul class="uren-tags_list">
                                {% for tag in tags %}
                                    <li>
                                        <a {% if request.GET.tag == tag.pk|stringformat:'i' %}
                                            style="color:white;background-color: #ffd347"
                                        {% endif %}onclick="addUrlParameter('tag', {{ tag.pk }})">{{ tag.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="row blog-item_wrap">

                        {% for post in object_list %}
                            <div class="col-xl-4 col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="{{ post.video.url }}">
                                            <video style="width: 300px; height: 300px" src="{{ post.video.url }}">

                                            </video>
                                        </a>
                                        <span class="post-date">{{ post.created_at|date:'d M Y' }}</span>
                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">{{ post.title }}</a></h3>
                                        <p>{{ post.short_description }}</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="{% url 'posts:detail' pk=post.pk %}">Read
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="uren-paginatoin-area">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="uren-pagination-box carlet-color">
                                            <li class="active"><a href="javascript:void(0)">1</a></li>
                                            <li><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">4</a></li>
                                            <li><a href="javascript:void(0)">5</a></li>
                                            <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Blog Left Sidebar Area End Here -->

    {% block extra_js %}
        <script>
            function addUrlParameter(name, value) {
                let searchParams = new URLSearchParams(window.location.search)
                searchParams.set(name, value)
                window.location.search = searchParams.toString()
            }
        </script>
    {% endblock %}

{% endblock %}
