{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 col-md-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                        <div class="product__thumb__pic set-bg" data-setbg="{{ object.image.url }}">
                        </div>
                    </a>
                </li>
                {% for i in object.images.all %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-{{ forloop.counter|add:1 }}"
                           role="tab">
                            <div class="product__thumb__pic set-bg" data-setbg="{{ i.image.url }}">
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6 col-md-9">
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__pic__item">
                        <img src="{{ object.image.url }}" alt="">
                    </div>
                </div>
                {% for i in object.images.all %}
                    <div class="tab-pane" id="tabs-{{ forloop.counter|add:1 }}" role="tabpanel">
                        <div class="product__details__pic__item">
                            <img src="{{ i.image.url }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        $(".js-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: {{ min_price }},
            max: {{ max_price }},
            from: {% get_price_url request 0 %},
            to: {% get_price_url request 1 %},
            prefix: "$",
            onfinish(data) {
                let result = data.from.toString() + ';' + data.to.toString();
                addUrlParameter('price', result)
            }
        });
    </script>

{% endblock %}

{% block extra_js %}
    <script>
        function addUrlParameter(name, value) {
            let searchParams = new URLSearchParams(window.location.search)
            searchParams.set(name, value)
            window.location.search = searchParams.toString()
        }
    </script>
{% endblock %}
