{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Begin Uren's Blog Video Format Area -->
    <div class="uren-blog_area uren-blog-details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2">
                    <div class="uren-blog-sidebar-wrapper">
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Search</h4>
                            <div class="search-form_area">
                                <form class="search-form" action="javascript:void(0)">
                                    <input type="text" class="search-field" placeholder="search here">
                                    <button type="submit" class="search-btn"><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Archives</h4>
                            <ul class="uren-blog-archive">
                                <li><a href="javascript:void(0)">September 2019</a></li>
                            </ul>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Recent Posts</h4>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/1.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Ut eum laborum</a></span>
                                    <span class="post-date">September 25,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/2.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-gallery-format.html">Soluta ad tempore</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/3.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Possimus reiciendis</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/4.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Tortor Posuere</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post_thumb">
                                    <a href="blog-details-left-sidebar.html">
                                        <img class="img-full" src="{% static 'images/blog/large-size/5.jpg' %}"
                                             alt="Uren's Blog Image">
                                    </a>
                                </div>
                                <div class="recent-post_desc">
                                    <span><a href="blog-details-left-sidebar.html">Hello World!</a></span>
                                    <span class="post-date">September 24,2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Comments</h4>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/admin.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>HasTech say:</span>
                                    <a href="javascipt:void(0)">Nulla auctor mi vel nisl...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/user.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>Kathy Young say:</span>
                                    <a href="javascipt:void(0)">Mauris Venenatis Orci Quis...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/admin.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>HasTech say:</span>
                                    <a href="javascipt:void(0)">Quisque Semper Nunc Vitae...</a>
                                </div>
                            </div>
                            <div class="recent-comment">
                                <div class="user-img">
                                    <img class="img-full" src="{% static 'images/blog/user.jpg' %}"
                                         alt="Uren's Blog Image">
                                </div>
                                <div class="user-info">
                                    <span>Kathy Young say:</span>
                                    <a href="javascipt:void(0)">Thanks for the information, anyway :)</a>
                                </div>
                            </div>
                        </div>
                        <div class="uren-blog-sidebar">
                            <h4 class="uren-blog-sidebar-title">Tags</h4>
                            <ul class="uren-tags_list">
                                {% for tag in object.tags.all %}
                                    <li>
                                        <a href="{% url 'posts:list' %}?tag={{ tag.pk }}">{{ tag.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    {#                                    href="{% url 'blog:blog-detail' pk=blog.pk %}">{{ blog.title }}</a></span>#}
                    <div class="blog-item">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/-lG0kDeuSJk"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details-left-sidebar.html">Post With Video</a></h3>
                            <p>{{ object.short_description}}</p>
                            <div class="uren-btn-ps_left">
                                <a class="uren-btn-2" href="blog-video-images.html">Read More</a>
                            </div>
                        </div>
                        <div class="uren-blog-blockquote">
                            <blockquote>
                                <p>{{ object.long_description|safe }}</p>
                            </blockquote>
                        </div>
                        <div class="blog-additional_information">
                            <p>{{ object.extra_content }}</p>
                        </div>
                        <div class="uren-tag-line">
                            <h4>Tag:</h4>
                            {% for tag in object.tags.all %}
                                <a href="{% url 'posts:list' %}?tag={{ tag.pk }}">
                                    {{ tag.title }}{% if not forloop.last %},{% endif %}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="uren-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank"
                                       title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank"
                                       title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank"
                                       title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog__details__btns">
                            <div id="comment-section" class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    {% if object.get_prev %}
                                        <a href="{% url 'posts:detail' pk=object.get_prev.pk %}
                                           class=" blog__details__btns__item">
                                        <p><span class="arrow_left"></span> Previous Pod</p>
                                        <h5>{{ object.get_prev.title }}</h5>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    {% if object.get_next %}
                                        <a href="{% url 'posts:detail' pk=object.get_next.pk %}"
                                           class="blog__details__btns__item blog__details__btns__item--next">
                                            <p>Next Pod <span class="arrow_right"></span></p>
                                            <h5>{{ object.get_next.title }}</h5>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="uren-comment-section">
                            <h3>{{ object.comments.count }} Comments</h3>
                            <ul>
                                {% for comment in object.get_comments %}
                                    <li>
                                        <div class="author-avatar">
                                            <img src="{% static 'images/blog/user.jpg' %}" alt="User">
                                        </div>
                                        <div class="comment-body">
                                            <span class="reply-btn"><a href="javascript:void(0)">reply</a></span>
                                            <h5 class="comment-author">{{ comment.name }}</h5>
                                            <div class="comment-post-date">
                                                {{ comment.created_at|timesince }}
                                            </div>
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="uren-blog-comment-wrapper">
                            <h3>leave a reply</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form method="POST" action="{% url 'posts:comment' pk=object.pk %}#comment-section">
                                {% csrf_token %}
                                <div class="comment-post-box">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>comment</label>
                                            <textarea name="comment" placeholder="Write a comment"></textarea>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>Name</label>
                                            <input name="name" type="text" class="coment-field" placeholder="Name">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>Email</label>
                                            <input name="email" type="email" class="coment-field" placeholder="Email">
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>Phone</label>
                                            <input name="phone" type="text" class="coment-field" placeholder="Phone">
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="comment-btn_wrap f-left">
                                                <div class="uren-post-btn_area">
                                                    <a class="uren-btn-2" href="javascript:void(0)">Post comment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Blog Video Format Area End Here -->
{% endblock %}
