{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

    <!-- Begin Uren's Shop Right Sidebar Area -->
    <div class="shop-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5 order-2">
                {% include 'layouts/shop_filter.html' %}
                <div class="sidebar-banner_area">
                    <div class="banner-item img-hover_effect">
                        <a href="javascript:void(0)">
                            <img src="{% static 'images/shop/1.jpg' %}" alt="Uren's Shop Banner Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 order-1">
                <div class="shop-toolbar">
                    <div class="product-item-selection_area">
                        <div class="product-short">
                            <label class="select-label">Sort By:</label>
                            <select onchange="addUrlParameter('sort', this.value)" class="myniceselect nice-select">
                                <option value="">---</option>
                                <option {% if request.GET.sort == 'price' %}selected{% endif %}
                                        value="price">Price, low to high</option>
                                <option {% if request.GET.sort == '-price' %}selected{% endif %}
                                        value="-price">Price, high to low</option>
                            </select>
                        </div>
                        <div class="product-showing">
                            <label class="select-label">Show:</label>
                            <select class="myniceselect short-select nice-select">
                                <option value="1">15</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">

                    {% for car in object_list %}

                        <div class="col-lg-4 ">
                            <div class="product-slide_item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img"
                                                     src="{{ car.image.url }}"
                                                     alt=" Car Image">
                                            </a>
                                            {% if car.is_discount %}
                                                <div class="sticker">
                                                    <span class="sticker">Sale</span>
                                                </div>
                                            {% endif %}
                                            {% if car.is_new %}
                                                <div class="sticker {% if car.is_discount %}mt-4{% endif %}">
                                                    <span class="sticker">New</span>
                                                </div>
                                            {% endif %}
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title="Add To Cart"><i
                                                            class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal"
                                                        data-target="#exampleModalCenter"><a
                                                            href="javascript:void(0)"
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="Quick View"><i
                                                            class="ion-android-open"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i>
                                                        </li>
                                                        <li class="silver-color"><i class="ion-android-star"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name"
                                                       href="single-product.html">{{ car.title }}</a></h6>
                                                <div class="price-box">
                                                    <span
                                                            class="new-price">${{ car.get_price }}
                                                        {% if car.is_discount %}
                                                            <strike class="small">${{ car.price }}</strike>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-slide_item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img class="primary-img"
                                                 src="{% static 'images/product/large-size/1.jpg' %}"
                                                 alt="Uren's Product Image">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li><i class="ion-android-star"></i></li>
                                                    <li class="silver-color"><i class="ion-android-star"></i>
                                                    </li>
                                                    <li class="silver-color"><i class="ion-android-star"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6><a class="product-name"
                                                   href="single-product.html">{{ car.title }}</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="new-price">{{ car.get_price }}</span>
                                            </div>
                                            <div class="product-short_desc">
                                                {{ car.content|safe }}
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul>
                                                <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip"
                                                       data-placement="top" title="Add To Cart"><i
                                                        class="ion-bag"></i></a>
                                                </li>
                                                <li><a class="uren-wishlist" href="wishlist.html"
                                                       data-toggle="tooltip"
                                                       data-placement="top" title="Add To Wishlist"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                </li>
                                                <li><a class="uren-add_compare" href="compare.html"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="Compare This Product"><i
                                                        class="ion-android-options"></i></a>
                                                </li>
                                                <li class="quick-view-btn" data-toggle="modal"
                                                    data-target="#exampleModalCenter"><a href="javascript:void(0)"
                                                                                         data-toggle="tooltip"
                                                                                         data-placement="top"
                                                                                         title="Quick View"><i
                                                        class="ion-android-open"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="uren-paginatoin-area">

                    {% if page_obj.has_previous %}
                        <a class="Prev uren-pagination-box primary-color"
                           href="?page={{ page_obj.previous_page_number }}">Prev</a>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                        <ul class="uren-pagination-box primary-color">
                            <li {% if page == page_obj.number %}class="active"{% endif %}>
                                <a onclick="addUrlParameter('page', '{{ page }}')">{{ page }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="Next uren-pagination-box primary-color" href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Uren's Shop Right Sidebar Area End Here -->
    <script>
        $(".js-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: {{ min_price }},
            max: {{ max_price }},
            from: {% get_price_url request 0 %},
            to: {% get_price_url request 1 %},
            prefix: "$",
            onfinish(data) {
                let result = data.from.toString() + ';' + data.to.toString();
                addUrlParameter('price', result)
            }
        });
    </script>

{% endblock %}

{% block extra_js %}
    <script>
        function addUrlParameter(name, value) {
            let searchParams = new URLSearchParams(window.location.search)
            searchParams.set(name, value)
            window.location.search = searchParams.toString()
        }
    </script>
{% endblock %}
